{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block page_header %}

   <div class="row">
      <div class="nav-margin-lg"></div>
   </div>

{% endblock %}
{% block content %}
<!-- Hero Image with some opening text to attract the user to the website. I put a lot of effort into this as good first impressions for the user are extremely valuable for my website. -->
<div class="container-fluid pl-0">
   <div class="row">
      <div class="col-12 pr-0 hero-img-container ">
         <img src="{{ MEDIA_URL }}hero-img.jpg" alt="" class="frontpage-img img-fluid">
         <div class="row">
             <div class="col-6 offset-3 col-md-4 offset-md-4 black-fade">
            <p class="hero-img-txt roboto fadetest">Welcome to The <br>First Edition
            </p>
            </div>
         </div>
         <a class="btn hero-button btn-size-hero mb-3 no-hover-change" href="{% url 'products' %}" role="button">View all Books </a>
      </div>
   </div>
</div>
<!--  I have divided the rest of the index page up of little book containers depending on the category. Besides bestsellers, only the highly rated products in their respective category will appear -->
<div class="container-fluid  pt-250">
   <div class="row ">
      <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
         <div class="row">
            <div class="col-7 col-md-8 col-lg-9">
               <p class="roboto index-book-selection-font">Best Sellers in The First Edition</p>
            </div>
            <div class="col-5 col-md-4 col-lg-3">
               <a class="btn button-style mb-3 hvr-float-shadow text-align-right" href="{% url 'products' %}?category=bestsellers" role="button">View all ({{ product_bestsellers|length }} books available)</a>
            </div>
         </div>
      </div>
   </div>
   <div class="row book-row pb-250">
      <div class="col-xl-6 offset-xl-3  col-lg-8 offset-lg-2 col-md-10 offset-md-1">
         <div class="scroll-img-container padding-10 grey">
            {% for product in product_bestsellers %}
            <a href="{% url 'product_bestsellers' %}" class="hvr-grow-shadow">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="index-book-margin product-height-index">
            </a>
            {% endfor %}
         </div>
      </div>
   </div>
</div>
<div class="container-fluid">
   <div class="row">
      <div class="col-xl-6 offset-xl-3  col-lg-8 offset-lg-2 col-md-10 offset-md-1">
         <div class="row ">
            <div class="col-7 col-md-8 col-lg-9">
               <p class="roboto index-book-selection-font">Highly Rated Fiction Books</p>
            </div>
            <div class="col-5 col-md-4 col-lg-3">
               <a class="btn mb-3 hvr-float-shadow button-style" href="{% url 'products' %}?category=fiction" role="button">View all ({{ product_fiction|length }} books available)</a>
            </div>
         </div>
      </div>
   </div>
   <div class="row book-row pb-250">
      <div class="col-xl-6 offset-xl-3  col-lg-8 offset-lg-2 col-md-10 offset-md-1">
         <div class="scroll-img-container padding-10 grey">
            {% for product in product_fiction %}
                {% if product.rating > 4.00 %}
            <a href="{% url 'product_detail' product.id %}" class="hvr-grow-shadow">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="index-book-margin product-height-index ">
            </a>
                {% endif %}
            {% endfor %}
         </div>
      </div>
   </div>
</div>
<div class="container-fluid">
   <div class="row">
      <div class="col-xl-6 offset-xl-3  col-lg-8 offset-lg-2 col-md-10 offset-md-1">
         <div class="row">
            <div class="col-7 col-md-8 col-lg-9">
               <p class="roboto index-book-selection-font">Highly Rated History Books</p>
            </div>
            <div class="col-5 col-md-4 col-lg-3">
               <a class="btn mb-3 hvr-float-shadow button-style" href="{% url 'products' %}?category=history" role="button">View all ({{ product_history|length }} books available)</a>
            </div>
         </div>
      </div>
   </div>
   <div class="row book-row pb-250">
      <div class="col-xl-6 offset-xl-3  col-lg-8 offset-lg-2 col-md-10 offset-md-1">
         <div class="scroll-img-container padding-10 grey">
            {% for product in product_history %}
                {% if product.rating > 4.00 %}
            <a href="{% url 'product_detail' product.id %}" class="hvr-grow-shadow">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="index-book-margin product-height-index ">
            </a>
                {% endif %}
            {% endfor %}
         </div>
      </div>
   </div>
</div>
<div class="container-fluid">
   <div class="row">
      <div class="col-xl-6 offset-xl-3  col-lg-8 offset-lg-2 col-md-10 offset-md-1">
         <div class="row">
            <div class="col-7 col-md-8 col-lg-9">
               <p class="roboto index-book-selection-font">Highly Rated Philosophy Books</p>
            </div>
            <div class="col-5 col-md-4 col-lg-3">
               <a class="btn mb-3 hvr-float-shadow button-style" href="{% url 'products' %}?category=philosophy" role="button">View all ({{ product_philosophy|length }} books available)</a>
            </div>
         </div>
      </div>
   </div>
   <div class="row book-row pb-250">
      <div class="col-xl-6 offset-xl-3  col-lg-8 offset-lg-2 col-md-10 offset-md-1">
         <div class="scroll-img-container padding-10 grey">
            {% for product in product_philosophy %}
                 {% if product.rating > 4.00 %}
            <a href="{% url 'product_detail' product.id %}" class="hvr-grow-shadow">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="index-book-margin product-height-index ">
            </a>
                {% endif %}
            {% endfor %}
         </div>
      </div>
   </div>
</div>
{% endblock %}

