/* imported fonts */

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda")

/* Colours */

.purple {
    background-color:#5f2d91;
    color:#5f2d91;
}

.purple-text {
    color:#5f2d91;
}

.light-beige {
    background-color: #fbf3e4;
}
.beige {
    background-color: #53513c;
}

.cream {
    background-color: #fbf3e4;
}

/* margins and paddings */

.pb-350 {

    padding-bottom:350px;
}
.pt-250 {
    padding-top: 250px;
}

.mt-350 {
    margin-top:350px;
}

/* fonts */

.ruda {
    font-family:"Ruda", "Arial";
}

.roboto {
    font-family: "Roboto", "Arial";
}

.index-book-selection-font {
    font-weight:700;
    font-size:29px;
}

/* from Bulma, to ensure FA icons to remain centered and perfectly sized */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index:999999;
}

.custom-toast {
    overflow:visible;
}

.update-link,
.remove-item {
    cursor:pointer;
}

/* Paddings and Margins */

.pt-10px {
    padding-top:10px;
}

.mt-100 {

    margin-top:100px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.padding-10 {
    padding: 10px 10px 10px 10px;
}

.pb-250 {
    padding-bottom:250px;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.065);
  transform: scale(1.065);
}

.hvr-grow-shadow-product-page {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow-product-page:hover, .hvr-grow-shadow-product-page:focus, .hvr-grow-shadow-product-page:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}


/** navbar **/

.logo-font {
text-decoration: none;
color:white;
}

.nav-link-style {
    color:white;
}
.nav-link-style:hover {
    color:white;
}

:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Roberto', sans-serif;
  --height:45px;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.search-form {
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
.search-input, .search-button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.1rem;
}
.search-input[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.search-button {
  position: absolute;
  top: 0;
  right: 30px;
  width: 1px;
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}
.search-input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(110% - var(--btn-width));
}


/* index page */

.frontpage-img {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.product-height-index {
    height:233px;
}

.book-row {
    border:black 1px;
}

.front-img-margin {
    margin-top:500px;
}

.scroll-img-container {
  overflow: auto;
  white-space: nowrap;
}

.index-book-margin {
    margin-left:0px;
    margin-right:15px;
}
/* products page */

.product-height {

    height:500px;
}


/* media widths */

@media (min-width: 992px) {
   .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 992px) {
   .product-height {

    height:350px;
}
}