/* imported fonts */

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda")

/* Colours */

.purple {
    background-color:#5f2d91;
    color:#5f2d91;
}

.purple-text {
    color:#5f2d91;
}

.light-beige {
    background-color: #fbf3e4;
}
.beige {
    background-color: #53513c;
}

/* margins and paddings */

.pb-350 {

    padding-bottom:350px;
}

.mt-350 {
    margin-top:350px;
}

/* fonts */

.ruda {
    font-family:"Ruda", "Arial";
}

/* from Bulma, to ensure FA icons to remain centered and perfectly sized */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index:999999;
}

.custom-toast {
    overflow:visible;
}

.update-link,
.remove-item {
    cursor:pointer;
}

/* Paddings and Margins */

.pt-10px {
    padding-top:10px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/** navbar **/

.logo-font {
text-decoration: none;
color:white;
}

.nav-link-style {
    color:white;
}
.nav-link-style:hover {
    color:white;
}

:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Roberto', sans-serif;
  --height:45px;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.search-form {
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
.search-input, .search-button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.1rem;
}
.search-input[type="search"] {
  outline: 0; /* <-- shold probably remove this for better accessibility, adding for demo aesthetics for now. */
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.search-button {
  position: absolute;
  top: 0;
  right: 30px;
  width: 1px;
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}
.search-input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(110% - var(--btn-width));
}


@media (min-width: 992px) {
   .header-container {
        padding-top: 164px;
    }
}