/** Colours **/

.purple {
    background-color:#5f2d91;
    color:#5f2d91;
}

.purple-text {
    color:#5f2d91;
}

.light-beige {
    background-color: #fbf3e4;
}
.beige {
    background-color: #53513c;
}

/* from Bulma, to ensure FA icons to remain centered and perfectly sized */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.update-link,
.remove-item {
    cursor:pointer;
}

/** navbar **/

.logo-font {

    text-decoration: none;
    color:white;
}

@media (min-width: 992px) {
   .header-container {
        padding-top: 164px;
    }
}